<div class="task-item" data-id="{{ task.id }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>

            {% if task.description %}
            <p class="card-text">{{ task.description }}</p>
            {% endif %}
        </div>

        <div class="card-footer d-flex flex-row-reverse justify-content-between align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Действия
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#">
                            Отметить как выполненное
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Редактировать
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Удалить
                        </a>
                    </li>
                </ul>
            </div>

            {% if task.deadline %}
            <small class="text-muted">До {{ task.deadline|date('d.m.Y') }}</small>
            {% endif %}
        </div>
    </div>
</div>
