{% extends 'base.html.twig' %}

{% block title %}Список задач{% endblock %}

{% block body %}
{{ form(form) }}

{% if tasks is not empty %}
<ul>
    {% for task in tasks %}
    <li>
        {{ task.name }}
        {% if task.description %}
        <br />
        <p>{{ task.description }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
